section.about 
    .container 
        +block-box("What we do","Story about us","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, laboriosam. Pariatur officiis dolore iusto dignissimos assumenda at aperiam deserunt aspernatur.")
        .about__list 
            +about-item("./images/img-about1.png", "fa fa-heart","LoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLorem")
            +about-item("./images/img-about2.png", "fa fa-heart","Lorem ipsum, dolor sit amet consectetur adipisicing elit.")
            +about-item("./images/img-about3.png", "fa fa-heart","Pariatur officiis dolore iusto dignissimos assumenda at aperiam deserunt aspernatur.")
