section.number
	.container 
		.number__list
			+number-item("42","Lorem, ipsum dolor.")
			+number-item("42","Lorem, ipsum dolor.")
			+number-item("42","Lorem, ipsum dolor.")
			+number-item("42","Lorem, ipsum dolor.")
			+number-item("42","Lorem, ipsum dolor.")