section.service 
    .container 
        +block-box("We work with","Amazing Services","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sequi, voluptatibus maxime voluptate est ipsa voluptates facere vero autem repellat ratione corporis ut id itaque quo iure ea suscipit odio!") 
        .service__list 
            +service-item("far fa-alarm-clock","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti explicabo eius minima.")
            +service-item("fal fa-clipboard","Web design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti explicabo eius minima.")
            +service-item("far fa-desktop","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti explicabo eius minima.")
        .service__list 
            +service-item("fal fa-book-open","Seo","Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti explicabo eius minima.")
            +service-item("fas fa-home-lg","Html/Css","Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti explicabo eius minima.")
            +service-item("fab fa-digital-ocean","Digital","Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti explicabo eius minima.")