.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }
  &-item {
    position: relative;

    transition: all 0.25s linear;

    &::after {
      content: "";
      @include absolute-full();

      background-color: $third-color;

      z-index: -1;

      transition: all 0.25s linear;
    }
    &:hover {
      cursor: pointer;

      transform: translate(-1rem, -1rem);
      &::after {
        transform: translate(1rem, 1rem);
      }
      & .about-item__content {
        opacity: 1;
        visibility: visible;
      }
    }
    &__content {
      @include absolute-full();
      @include flex-box(center, center, column);
      padding: 2rem;

      opacity: 0;
      visibility: hidden;
      background-image: $gradient;
      color: white;

      text-transform: uppercase;
      text-align: center;

      transition: all 0.25s linear;
    }
    &__icon {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__title {
      @include text-clamp(2);
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 1.4;
    }
  }
  @include max-width(767px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &__list {
      @include hide-scroll;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-template-columns: unset;
      grid-row-gap: 2rem;
      padding: 1rem;

      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
    }
    &-item {
      scroll-snap-align: center;
    }
  }
}
