html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 1.4rem; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 1.5rem; }

.block-box {
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .block-box__caption {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-family: "Kaushan Script", cursive; }
  .block-box__heading {
    position: relative;
    margin-bottom: 3.5rem;
    padding-bottom: 3.5rem;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase; }
    .block-box__heading::after {
      content: "";
      width: 6.5rem;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #e98382; }
  .block-box__desc {
    margin-bottom: 10rem;
    color: #999999;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4; }
  @media screen and (max-width: 767px) {
    .block-box__caption {
      font-size: 2rem; }
    .block-box__heading {
      margin-bottom: 2.5rem;
      padding-bottom: 2.5rem;
      font-size: 2.5rem; }
    .block-box__desc {
      margin-bottom: 4rem;
      font-size: 1.4rem; } }

.header {
  min-height: 100rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 131, 130, 0.8)), to(rgba(238, 216, 137, 0.8))), url(../images/img-header-bg.jpg) no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(233, 131, 130, 0.8), rgba(238, 216, 137, 0.8)), url(../images/img-header-bg.jpg) no-repeat center/cover;
  color: white; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-top: 3rem; }
  .header__logo {
    color: white;
    font-size: 3rem;
    font-weight: bold; }
  .header__toggle {
    display: none; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-menu__item {
      color: white; }
      .header-menu__item:hover {
        border-color: #eed889;
        color: #eed889; }
    .header-menu__link {
      display: inline-block;
      color: inherit;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
    .header-menu__icon {
      color: inherit; }
    .header-menu ~ .header__shadow {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.623);
      opacity: 0;
      visibility: hidden;
      z-index: 1; }
  .header__content {
    max-width: 80rem;
    margin: 0 auto;
    padding-top: 17rem;
    text-align: center; }
  .header__caption {
    margin-bottom: 3rem;
    font-family: "Kaushan Script", cursive;
    font-size: 7.2rem; }
  .header__main {
    position: relative;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    font-size: 15rem;
    font-weight: bold;
    text-transform: uppercase; }
    .header__main::after {
      content: "";
      width: 6rem;
      height: 0.5rem;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: white; }
  .header__more {
    display: inline-block;
    padding: 1rem 3rem;
    border: 0.4rem solid white;
    color: white;
    font-weight: bold;
    text-transform: uppercase; }
  .header-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15.5rem;
    margin-left: -3rem;
    padding-bottom: 2.5rem; }
    .header-bottom__item {
      position: relative;
      width: calc(25% - 3rem);
      margin-left: 3rem;
      padding-top: 2.5rem;
      border-top: 0.5rem solid white;
      cursor: pointer;
      opacity: 0.6;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .header-bottom__item::before {
        content: "";
        width: 7rem;
        height: 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #e98382;
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      .header-bottom__item:hover, .header-bottom__item.is-active {
        opacity: 1; }
        .header-bottom__item:hover::before, .header-bottom__item.is-active::before {
          opacity: 1; }
    .header-bottom__number {
      font-size: 2.4rem;
      font-weight: bold; }
    .header-bottom__text {
      margin-left: 1rem;
      text-transform: uppercase;
      font-size: 1.8rem; }
  @media screen and (min-width: 768px) {
    .header-menu__item {
      display: inline-block;
      padding: 1rem 0;
      border-bottom: 0.4rem solid transparent; }
      .header-menu__item:not(:first-child) {
        margin-left: 5rem; } }
  @media screen and (max-width: 1023px) {
    .header {
      min-height: unset; }
      .header__content {
        padding-top: 10rem; }
      .header__main {
        font-size: 10rem; }
      .header-bottom {
        margin-top: 10.5rem; } }
  @media screen and (max-width: 767px) {
    .header__toggle {
      display: inline-block;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      font-size: 1.8rem;
      cursor: pointer; }
    .header-menu {
      position: fixed;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      top: 0;
      bottom: 0;
      right: 0;
      width: 60%;
      padding: 2rem 2.5rem;
      background-color: white;
      z-index: 2;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      .header-menu__item {
        padding: 1rem;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
        color: #333333; }
        .header-menu__item:hover {
          background-color: #eed889;
          color: white;
          cursor: pointer; }
    .header-bottom__text {
      display: none; }
    .header__content {
      padding-top: 5rem; }
    .header__caption {
      font-size: 3rem; }
    .header__main {
      margin-bottom: 3rem;
      padding-bottom: 3rem;
      font-size: 5rem; }
    .header-bottom {
      margin-top: 5rem; }
      .header-bottom__item {
        padding-top: 1.5rem;
        text-align: center; }
        .header-bottom__item::before {
          width: 35%; } }

.header-menu.is-expand {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  z-index: 2; }
  .header-menu.is-expand ~ .header__shadow {
    opacity: 1;
    visibility: visible; }

.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white; }
  .about__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem; }
  .about-item {
    position: relative;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .about-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #95e1d3;
      z-index: -1;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
    .about-item:hover {
      cursor: pointer;
      -webkit-transform: translate(-1rem, -1rem);
      transform: translate(-1rem, -1rem); }
      .about-item:hover::after {
        -webkit-transform: translate(1rem, 1rem);
        transform: translate(1rem, 1rem); }
      .about-item:hover .about-item__content {
        opacity: 1;
        visibility: visible; }
    .about-item__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding: 2rem;
      opacity: 0;
      visibility: hidden;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 131, 130, 0.8)), to(rgba(238, 216, 137, 0.8)));
      background-image: linear-gradient(to bottom, rgba(233, 131, 130, 0.8), rgba(238, 216, 137, 0.8));
      color: white;
      text-transform: uppercase;
      text-align: center;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
    .about-item__icon {
      font-size: 2rem;
      margin-bottom: 1rem; }
    .about-item__title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      width: 100%;
      max-width: 100%;
      text-overflow: ellipsis;
      word-break: break-word;
      white-space: pre-wrap;
      overflow: hidden;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 1.4; }
  @media screen and (max-width: 767px) {
    .about {
      padding-top: 5rem;
      padding-bottom: 5rem; }
      .about__list {
        -ms-overflow-style: none;
        scrollbar-width: none;
        grid-auto-columns: 80%;
        grid-auto-flow: column;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        grid-row-gap: 2rem;
        padding: 1rem;
        overflow-x: auto;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always; }
        .about__list::-webkit-scrollbar {
          display: none; }
      .about-item {
        scroll-snap-align: center; } }

.number {
  background-color: #95e1d3; }
  .number__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .number-item {
    padding: 8.5rem 3.5rem;
    border-left: 1px solid white;
    color: white;
    text-align: center;
    text-transform: uppercase; }
    .number-item:last-child {
      border-right: 1px solid white; }
    .number-item__count {
      margin-bottom: 1rem;
      font-size: 7.2rem;
      font-weight: bold; }
    .number-item__text {
      line-height: 1.4; }
  @media screen and (max-width: 1023px) {
    .number-item {
      padding: 5rem 1.5rem; }
    .number__count {
      font-size: 5rem; }
    .number__text {
      font-size: 1.4rem; } }
  @media screen and (max-width: 767px) {
    .number__list {
      display: block; }
    .number-item {
      width: 100%;
      padding: 2.5rem 1rem;
      border-bottom: 1px solid white;
      border-left: none; }
    .number-item:last-child {
      border-width: 0; } }

.service {
  padding: 11rem 0 12rem;
  background-color: white; }
  .service__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 6.5rem; }
    .service__list:last-child {
      margin-top: 5rem;
      padding-top: 5rem;
      border-top: 1px solid #cccccc; }
  .service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: calc(33.33% - 2.7rem); }
    .service-item__icon {
      padding: 0 3rem;
      color: #95e1d3;
      font-size: 3.5rem; }
    .service-item__info {
      width: calc(100% - 9.5rem); }
    .service-item__title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      width: 100%;
      max-width: 100%;
      text-overflow: ellipsis;
      word-break: break-word;
      white-space: pre-wrap;
      overflow: hidden;
      margin-bottom: 1em;
      color: #333333;
      font-weight: 500;
      text-transform: uppercase; }
    .service-item__desc {
      color: #999999;
      line-height: 1.6;
      font-weight: 300;
      font-family: "Roboto", sans-serif; }
  @media screen and (max-width: 1023px) {
    .service {
      padding: 5rem 0; }
      .service__list {
        display: block; }
        .service__list:last-child {
          margin-top: 1rem;
          padding-top: 4rem; }
      .service-item {
        width: 100%;
        margin-bottom: 3rem; } }

.device {
  padding-top: 11rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../images/img-device-bg.png) no-repeat center/cover;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/img-device-bg.png) no-repeat center/cover; }
  .device__image {
    margin: -5rem auto 0;
    -webkit-transform: translateY(calc(13% + 3px));
    transform: translateY(calc(13% + 3px)); }
  @media screen and (max-width: 767px) {
    .device {
      padding-top: 5rem; } }

.wedo {
  padding: 10rem 0; }
  .wedo__image {
    -o-object-fit: cover;
    object-fit: cover; }
  .wedo__list {
    margin-top: 2rem; }
  .wedo-item:not(:last-child) {
    margin-bottom: 1rem; }
  .wedo-item.is-active .wedo-item__content {
    display: block; }
  .wedo-item__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 1.5rem;
    border: 1px solid #f8f8f8;
    cursor: pointer; }
  .wedo-item__icon {
    margin-right: 1.5rem;
    -o-object-fit: cover;
    object-fit: cover; }
  .wedo-item__title {
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .wedo-item__arrow {
    margin-left: auto;
    color: #cccccc;
    font-size: 3rem; }
  .wedo-item__content {
    display: none;
    padding: 2rem;
    border: 1px solid #f8f8f8;
    border-top-width: 0;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    font-style: italic;
    color: #999999;
    font-weight: 300; }
  .wedo-item__text {
    padding-right: 2rem;
    height: 14rem;
    overflow-y: scroll; }
    .wedo-item__text::-webkit-scrollbar {
      width: 0.6rem; }
    .wedo-item__text::-webkit-scrollbar-track {
      border-radius: 2rem;
      background-color: #f5f5f5; }
    .wedo-item__text::-webkit-scrollbar-thumb {
      border-radius: 2rem;
      background-color: #95e1d3; }
  @media screen and (min-width: 768px) {
    .wedo__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .wedo__image, .wedo__list {
      margin: 0;
      width: calc(50% - 1.5rem); } }
